# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Provider binaries
darwin_arm64/
linux_amd64/
windows_amd64/